
body{
    background-color: rgb(215, 226, 255);
}
input{
    outline:none;
    width: 190px;
    height: 14px;
    margin: 10px;


}
#box{
    position: absolute;
    top: 50px;
    left: 1000px;
    background-color: transparent;
}
#side1{
    width: 100px;
    background-color: rgb(0, 0, 0);
    height: 3px;
    transform: rotateZ(0);
    transform-origin: top right;
    border-radius: 40%;
}

#side2{
    width: 100px;
    background-color: rgb(26, 54, 145);
    height: 3px;
    transform: rotateZ(0);
    border-radius: 40%;

}
#side3{
    width: 100px;
    background-color: rgb(128, 0, 0);
    height: 3px;
    transform: rotateZ(0);
    transform-origin: top left;
    border-radius: 40%;

}
#triangle{
    display: flex;
    margin-top: 200px;
}
.ang{
    margin-bottom: 5px;
}
div{
    background-color: rgb(22, 178, 206);
    color: rgb(0, 34, 0);
    width: 200px;
    height: 20px;
    padding: 2px 10px;

}
button{
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(29, 59, 94);
    color: white;
    border-radius: 5px;
    
}
